{% extends "base.html.twig" %}

{% block title %} TODO Application {% endblock %}

{% block stylesheets %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endblock %}

{% block body %} 
<div class="container">
    <div class="row align-items-start">
        <div class="col-5">
            <form method="post", action="{{ url("insert_task") }}">
                <input type="text" name="task" placeholder="Insert a task here">
                <input type="submit" value="Insert" class="btn btn-dark">
            </form>
        </div>
        <div class="col">
            <form method="post", action="{{ url("insert_user") }}">
                <input type="text" name="user_name" placeholder="Insert user name here">
                {# </br> #}
                <input type="text" name="user_email" placeholder="Insert user email here">
                <input type="submit" value="Insert" class="btn btn-dark">
            </form>
        </div>
        </br>
        
        <table class="col-5">
            <thead>
                <tr>
                    <td scope="col"><h1>Tasks</h1></td>
                    <td><a style='text-decoration:none' href="{{ path('manage_tasks') }}"><button class="btn btn-dark">Manage tasks</button></a></td>
                </tr>
            </thead>
            <tbody>
                {% for item in tasks %}
                    <tr scpe>
                        <td scope="col">
                            Task name: 
                            {% if item.isTaskDone() %}
                                <del>{{ item.getText() }}</del> 
                            {% else %}
                                {{ item.getText() }}
                            {% endif %}
                            <br/>
                            {% if item.isAssigned() %}
                                Asignee: {{ item.getUser().getEmail() }}
                            {% endif %}
                            <br/>
                            <a style='text-decoration:none' href="{{ path('finish_task', {'id': item.id }) }}"><button class="btn btn-dark">Done</button></a>
                            <a style='text-decoration:none' href="{{ path('delete_task', {'id': item.id }) }}"><button class="btn btn-dark">Delete</button></a>
                            <hr>
                        </td>
                    </tr>
                    </br>
                {% endfor %}
            </tbody>
        </table> 

        <table class="col">
            <thead>
                <tr>
                    <td scope="col"><h1>Users</h1></td>
                    <td><a style='text-decoration:none' href="{{ path('manage_users') }}"><button class="btn btn-dark">Manage users</button></a></td>
                </tr>
            </thead>
            <tbody>
                {% for item in users %}
                    <tr scpe>
                        <td scope="col">
                            {{ item.getEmail() }}
                            <a style='text-decoration:none' href="{{ path('delete_user', {'id': item.id }) }}"><button class="btn btn-dark">Delete</button></a>
                        </td>
                    </tr>
                    </br>
                {% endfor %}
            </tbody>
        </table>
    </div>   
</div>  
{% endblock %}