{% extends "base.html.twig" %}

{% block title %} TODO Application {% endblock %}

{% block body %} 
<div class="container">
    <div class="row align-items-start">
        <div class="col-5">
           
        </div>
        <div class="col-5">
            
        </div>
        </br>
        
        <table class="col-5">
            <thead>
                <tr>
                    <td scope="col"><h1>Tasks</h1></td>
                    <td><a style='text-decoration:none' href="{{ path('manage_tasks') }}"><button class="btn btn-dark">Manage tasks</button></a></td>
                </tr>
            </thead>
            <tbody>
                {% for item in tasks %}
                    <tr>
                        <td scope="col">
                            Task name: 
                            {% if item.isTaskDone() %}
                                <del>{{ item.getText() }}</del> 
                            {% else %}
                                {{ item.getText() }}
                            {% endif %}
                            <br/>
                            {% if item.getUser() %}
                                Asignee: {{ item.getUser().getEmail() }}
                            {% endif %}
                            <br/>
                            <a style='text-decoration:none' href="{{ path('finish_task', {'id': item.id }) }}"><button class="btn btn-dark">Done</button></a>
                            <hr>
                        </td>
                    </tr>
                    </br>
                {% endfor %}
            </tbody>
        </table> 

        <table class="col">
            <thead>
                <tr>
                    <td scope="col"><h1>Users</h1></td>
                    <td><a style='text-decoration:none' href="{{ path('manage_users') }}"><button class="btn btn-dark">Manage users</button></a></td>
                </tr>
            </thead>
            <tbody>
                {% for item in users %}
                    <tr scpe>
                        <td scope="col">
                            {{ item.getEmail() }}
                        </td>
                    </tr>
                    </br>
                {% endfor %}
            </tbody>
        </table>
    </div>   
</div>  
{% endblock %}